TechnologieInternetowe/4. JPK_VAT(1)_v2-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://crd.gov.pl/wzor/2015/12/16/12163/" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/" xmlns:kck="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyCECHKRAJOW/" xmlns:kk="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/" targetNamespace="http://crd.gov.pl/wzor/2015/12/16/12163/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/StrukturyDanych_v3-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyCECHKRAJOW/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyCECHKRAJOW/KodyCechKrajow_v3-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2011/06/21/eD/DefinicjeTypy/KodyKrajow_v4-0E.xsd"/>
	<xsd:element name="JPK">
		<xsd:annotation>
			<xsd:documentation>Jednolity plik kontrolny dla ewidencji zakupu i sprzedaży VAT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek">
					<xsd:annotation>
						<xsd:documentation>Dane identyfikacyjne dotyczące JPK</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="WersjaJPK" type="tns:JPKTypSredniTekst1"/>
							<xsd:element name="DataWytworzeniaJPK" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data wytworzenia JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ProducentSystemu" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Nazwa producenta oprogramowania, za pomoca którego wytworzono JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="IDSystemu" type="tns:JPKTypDlugiTekst">
								<xsd:annotation>
									<xsd:documentation>Nazwa systemu, za pomocą którego wytworzono JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="WersjaSystemu" type="tns:JPKTypKrotkiTekst">
								<xsd:annotation>
									<xsd:documentation>Wersja systemu, za pmocą którego wytworzono JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DataPoczatkowa" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data początkowa okresu, którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DataKoncowa" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data końcowa okresu, którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NIP" type="etd:TNrNIP">
								<xsd:annotation>
									<xsd:documentation>NIP podmiotu, którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Nazwa" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Nazwa podmiotu (imię i nazwisko podatnika), którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="KodKraju" type="etd:TKodKraju">
								<xsd:annotation>
									<xsd:documentation>Kraj</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Wojewodztwo">
								<xsd:annotation>
									<xsd:documentation>Województwo</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="36"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Powiat">
								<xsd:annotation>
									<xsd:documentation>Powiat</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="36"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Gmina">
								<xsd:annotation>
									<xsd:documentation>Gmina</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="36"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Ulica" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Nazwa ulicy</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="65"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NrDomu">
								<xsd:annotation>
									<xsd:documentation>Nr budynku</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="9"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="NrLokalu" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Nr lokalu</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Miejscowosc">
								<xsd:annotation>
									<xsd:documentation>Nazwa miejscowości</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="56"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="KodPocztowy">
								<xsd:annotation>
									<xsd:documentation>Kod pocztowy</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="8"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="Poczta">
								<xsd:annotation>
									<xsd:documentation>Nazwa urzędu pocztowego</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:token">
										<xsd:minLength value="1"/>
										<xsd:maxLength value="56"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DomyslnyKodWaluty" type="kck:currCode_Type">
								<xsd:annotation>
									<xsd:documentation>Trzyliterowy kod lokalnej waluty (ISO-4217), domyślny dla wytworzonego JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SprzedazCtrl">
					<xsd:annotation>
						<xsd:documentation>Sumy kontrolne dla ewidencji sprzedaży VAT</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LiczbaWierszy" type="xsd:nonNegativeInteger">
								<xsd:annotation>
									<xsd:documentation>Liczba wierszy ewidencji sprzedaży, w okresie którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SumaNetto" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Łączna wartość kwot netto ogółem ewidencji sprzedaży w okresie, którego dotyczy JPK </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SprzedazWiersze" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Ewidencja sprzedaży VAT</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="K_1" type="xsd:positiveInteger">
								<xsd:annotation>
									<xsd:documentation>Lp.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_2" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data sprzedaży</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_3" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data wystawienia</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_4" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Nr dokumentu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_5a" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Imię i nazwisko lub nazwa nabywcy towarów lub usług</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_5b" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Adres nabywcy towarów lub usług</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_6" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana brutto</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_7" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana netto 23%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_8" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana VAT 23%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_9" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana netto 8%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_10" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana VAT 8%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_11" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana netto 5%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_12" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana VAT 5%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_13" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż opodatkowana 0%</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_14" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż zwolniona</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_15" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Sprzedaż niepodlegająca opodatkowaniu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_16" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Suma VAT</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ZakupCtrl">
					<xsd:annotation>
						<xsd:documentation>Sumy kontrolne dla ewidencji zakupu VAT</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="LiczbaWierszy" type="xsd:nonNegativeInteger">
								<xsd:annotation>
									<xsd:documentation>Liczba wierszy ewidencji zakupu, w okresie którego dotyczy JPK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="SumaNetto" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Łączna wartość kwot netto ogółem ewidencji zakupu w okresie, którego dotyczy JPK </xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ZakupWiersze" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Ewidencja zakupu VAT</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="K_1" type="xsd:positiveInteger">
								<xsd:annotation>
									<xsd:documentation>Lp.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_2a" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Imię i nazwisko lub nazwa wystawcy faktury</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_2b" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Adres wystawcy faktury</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_3" type="tns:JPKTypSredniTekst1">
								<xsd:annotation>
									<xsd:documentation>NIP wystawcy faktury</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_4" type="tns:JPKTypSredniTekst2">
								<xsd:annotation>
									<xsd:documentation>Nr faktury</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_5" type="xsd:date">
								<xsd:annotation>
									<xsd:documentation>Data wpływu faktury VAT</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_6" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość faktury brutto</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_7" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość faktury netto</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_8" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Kwota podatku naliczonego podlegającego odliczeniu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_9" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość zakupów, od których podatek VAT nie podlega odliczeniu</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="K_10" type="tns:JPKTypKwotowy">
								<xsd:annotation>
									<xsd:documentation>Wartość zakupów nieopodatkowanych</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="JPKTypKwotowy">
		<xsd:annotation>
			<xsd:documentation>Wartość numeryczna.18 znaków max, w tym 2 znaki po przecinku.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JPKTypKrotkiTekst">
		<xsd:annotation>
			<xsd:documentation>Wartość tekstowa 18 znaków.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JPKTypSredniTekst1">
		<xsd:annotation>
			<xsd:documentation>Wartość tekstowa 35 znaków.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JPKTypSredniTekst2">
		<xsd:annotation>
			<xsd:documentation>Wartość tekstowa 70 znaków.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JPKTypDlugiTekst">
		<xsd:annotation>
			<xsd:documentation>Wartość tekstowa 256 znaków.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
